* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling navlist */
#navlist {
    background-color: black;
    width: 100%;
    position: fixed;
}

/* styling navlist anchor element */
#navlist a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}

.navlist-right {
    float: right;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
    background-color: #ddd;
    color: black;
}

/* styling search bar */

.search button {
    background-color: darkred;
    color: #f2f2f2;
    float: right;
    padding: 8px 15px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 1em;
    border-radius: 10px;
}

/* Стили для поисковой строки */
.search {
    float: right; /* Выравниваем по правому краю */
    margin: 10px;
}

.search input[type=text] {
    width: 300px; /* Ширина по умолчанию */
    height: 37px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    text-indent: 5%;
}

/* Медиа запросы для изменения ширины поля ввода */
@media only screen and (max-width: 600px) {
    .search input[type=text] {
        width: 50%; /* Уменьшаем ширину при узком экране */
    }
}

/* Стили для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px; /* Добавил px для правильного отображения */
}

.photo-card {
    margin-left: 25px; /* Отступ слева по умолчанию */
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 5px;
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    background-color: white;
}

/* Медиа запросы для изменения отступа карточек */
@media only screen and (max-width: 600px) {
    .photo-card {
        margin-left: 0; /* Убираем отступ слева при узком экране */
        width: 50%; /* Растягиваем карточки на всю ширину при узком экране */
    }
}


.info {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.load-more {
    /* margin: 0; */
    margin-top: 50px;
    position: relative;
    display: none;
    /* bottom: 1%; */
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000000;
}

.load-more:hover {
    background-color: dodgerblue;
}


/* .gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
} */

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {
    cursor: zoom-in;
}